[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
yfinance = "*"
scikit-image = "*"
pandas-datareader = "*"
plotly = "==4.9.0"
jupyter = "*"
notebook = "*"
jupyter-contrib-nbextensions = "*"
tqdm = "*"

[requires]
python_version = "3.8"
